body {
    background: url(img/fletcher-pride-liMvhbUq4Xg-unsplash.jpg) no-repeat center center/cover;
    height: 100vh;
    position: relative;

    align-items: center;
    justify-content: center;
    display: flex;
}

.container {
    width: 60%;
    height: 250px;
    font-family: sans-serif;
    background-color: rgba(255, 255, 255, .8);
    border-radius: 30px;
    box-shadow: 0 0 10px;
}

.timer {
    width: 100%;
    font-size: 72px;
    text-align: center;
    margin-top: 30px;
    user-select: none;
}

.button {
    margin-top: 30px;
    text-align: center;
}

button {
    cursor: pointer;
    border: none;
    padding: 10px 20px;
    border-radius: 10px;
    margin: 0 20px;
}

button i {
    font-size: 3rem;
    color: white;
    width: auto;
}

#start-timer {
    background-color: green;
}

#pause-timer {
    background-color: orange;
}

#reset-timer {
    background-color: red;
}




